*.exe
*.sln
*.userprefs
*.csproj
*.pidb
*.unityproj
.DS_Store
./Library/*
./Temp/*
./mbn_Data/*
*.vsp
.svn
pristine
tmp
entries
format
*.orig
*.orig.meta
version.txt
/Assets/Test
/Assets/Test.meta
/Library
/Temp
*.DotSettings
/Assets/UnityVS.meta
/Assets/UnityVS
/obj
