/*.csproj
/*.sln
/*.DotSettings
/*.suo
/Library
/obj
/Build
/Temp
/Assets/ThirdParty/Spriter2Unity/Example
/Assets/ThirdParty/Spriter2Unity/Example.meta
/*.unityproj
/*.unityproj
Assets/ThirdParty/Spriter2Unity/Assets.meta
Assets/ThirdParty/Spriter2Unity/Package.meta
Assets/ThirdParty/Spriter2Unity/Package/Spriter2Unity.unitypackage.meta
Assets/ThirdParty/Spriter2Unity/ProjectSettings.meta
Assets/ThirdParty/Spriter2Unity/ProjectSettings/AudioManager.asset.meta
Assets/ThirdParty/Spriter2Unity/ProjectSettings/DynamicsManager.asset.meta
Assets/ThirdParty/Spriter2Unity/ProjectSettings/EditorBuildSettings.asset.meta
Assets/ThirdParty/Spriter2Unity/ProjectSettings/EditorSettings.asset.meta
Assets/ThirdParty/Spriter2Unity/ProjectSettings/GraphicsSettings.asset.meta
Assets/ThirdParty/Spriter2Unity/ProjectSettings/InputManager.asset.meta
Assets/ThirdParty/Spriter2Unity/ProjectSettings/NavMeshLayers.asset.meta
Assets/ThirdParty/Spriter2Unity/ProjectSettings/NetworkManager.asset.meta
Assets/ThirdParty/Spriter2Unity/ProjectSettings/Physics2DSettings.asset.meta
Assets/ThirdParty/Spriter2Unity/ProjectSettings/ProjectSettings.asset.meta
Assets/ThirdParty/Spriter2Unity/ProjectSettings/QualitySettings.asset.meta
Assets/ThirdParty/Spriter2Unity/ProjectSettings/TagManager.asset.meta
Assets/ThirdParty/Spriter2Unity/ProjectSettings/TimeManager.asset.meta
Assets/ThirdParty/Spriter2Unity/README.md.meta